* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #fff;
  text-align: center;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  padding-bottom: 250px;
}

/* Marquee Section */
.marquee {
  background: #fff;
  color: #000;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header Section */
header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/* About Me Section */
#about {
  margin-bottom: 10px;
  border-top: 2px solid #fff;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

/* My Projects Section */
#projects {
  margin-bottom: 30px;
  border-top: 2px solid #fff;
}

#projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/* Project */
.project {
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  height: 200px;
}

.project img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid #ddd;
}

.project-description {
  padding: 15px;
  flex-grow: 1;
}

.project-description h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.project-description p {
  font-size: 1rem;
  color: #555;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  border-color: #f39c12;
}

/* Footer Section */
footer {
  background: #fff;
  color: #333;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

footer .social-media a {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-media a:hover {
  color: #f39c12;
  transform: scale(1.2);
}

footer .contact {
  margin-bottom: 20px;
}

footer .contact h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer .contact p {
  margin: 5px 0;
  font-size: 0.9rem;
}

footer .copyright {
  font-size: 0.8rem;
  color: #666;
}
